.DS_store*
*~
*.dSYM
*.o
*.so
#*
*.root
*.txt
*gperftoolsProfiles*
*.png
*cachegrind.out*
*callgrind.out*
*.py
*.dat
*#
*.temp
*.DS_Store

findWaisPulserEvents
findSeaveyPulses
generateDeltaTTree
generateDeltaTTreeVPOL
generateDeltaTLookupHistograms
compareMeasuredWithExpectedDeltaTs
compareMeasuredWithExpectedDeltaTsFull
generateAngularResolutionTree
generateAngularResolutionTreeVPOL
generateAngularResolutionTreeHPolLDB
quickCheckThetaPhiExpected
fitPitchRollOffsets
fitPitchRollOffsetsNew
generateAngularResolutionTreeFriend
fitPitchRollOffsetsMinuit
lookForPitchRollOffsets
makeCorrelationSummaries
makeCorrelationSummariesJustOneEvent
makeCorrelationSummariesTime
checkDeltaTExpected
generateSignalToNoiseRatioTree
