.DS_store*
*/*
!*.*
!*/Makefile
*~
*.dSYM
*.o
*.so
#*
*.root
*.txt
*gperftoolsProfiles*
log/
root
*.png
*cachegrind.out*
*callgrind.out*
*.py
*.dat
*#
*.DS_Store
agreedNumbers/
compareMeasuredWithExpectedDeltaTs
compareMeasuredWithExpectedDeltaTsFull
copyLindasNumsToEventReader.sh
findPulses.C
findSeaveyPulses
findWaisPulserEvents
fitPitchRollOffsets
fitPitchRollOffsetsMinuit
fitPitchRollOffsetsNew
generateAngularResolutionTree
generateAngularResolutionTreeFriend
generateAngularResolutionTreeHPolLDB
generateAngularResolutionTreeVPOL
generateDeltaTLookupHistograms
generateDeltaTTree
generateDeltaTTreeVPOL
photogrammetryNoPitchRoll/
quickCheckThetaPhiExpected
